pre {
	background-color: #333;
	color: #fff;
	padding: 1em;
	font-size: 0.9em;
}

div#tree1 {
	border: solid 1px #666;
	padding: 1em;
}

h1 {
	color: #C7518C;
	font-family: 'Corben', arial, serif;
	font-size: 36px;
	margin-top: 0.5em;
}

h1 span {
	background-color: #F35EA1;
}

h1 span.char1,
h1 span.char2 {
	color: #75CBC6;
	background-color: #fff;
}

h1 span.char2 {
	padding-right: 0.1em;
}

h1 span.char3 {
	padding-left: 0.1em;
}

h1 span.char6 {
	padding-right: 0.1em;
}

a {
	color: #C7518C;
	font-weight: bold;
	text-decoration: none;
}

h4 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color: #666;
}

h5 {
	font-size: 1em;
	margin-bottom: 0.5em;
}

.syntaxhighlighter {
	padding: 0.5em 1em;
	margin: 1em 0;
	border: solid 2px #ccc;
	width: 50%;
}

div.code .syntaxhighlighter.dark {
	padding: 1em 0 1em 1em;
	border: none;
}

.syntaxhighlighter.dark {
	margin: 0;
}

div.code {
	margin-bottom: 1.5em;
}
