/* main layout */
body, button, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
}

#sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px 0 30px 30px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

#page {
    width: 700px;
    margin: 0 0 50px 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* sidebar */
#sidebar a {
    color: #000;
}

#sidebar ul.first  {
    list-style: none;
}

#sidebar ul  {
    margin-left: 0;
}

#sidebar ul.first > li {
    margin-bottom: 1em;
}

#sidebar ul.first > li > a {
    font-weight: bold;
}

#sidebar ul.first ul {
    list-style-position: outside;
}

#sidebar ul.first ul > li {
    margin-left: 20px;
}

/* page */
.container-left,
.container-right {
    float: left;
    width: 50%;
}

.container-left .inner {
    margin-right: 0.5em;
}

.container-right .inner {
    margin-left: 0.5em;
}

/* header */
#main-title {
    margin: 1em 0 1em 0;
    background-color: #F35EA1;
    padding: 1em 1.5em;
    float: left;
}

#main-title h1 {
    color: #fff;
    font-family: 'Corben', arial, serif;
    font-size: 55px;
    margin: 0;
    line-height: 90px;
    float: left;
}

#main-title .logo {
    float: left;
    margin: 0 1.5em 0 0;
}

/* general style */
h4 {
    font-size: 1.2em;
    margin: 0.5em 0 0.2em 0;
    color: #777;
    font-family: 'Helvetica', Arial, sans-serif;
}

h5 {
    font-size: 0.9em;
    margin: 1em 0 0.5em 0;
    background-color: #333;
    color: #fff;
    display: inline;
    padding: 0.2em 0.5em 0.1em 0.5em;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

h6 {
    margin: 0.5em 0;
}

a,
a:visited {
    color: #b2497e;
}

img {
    margin: 0 0.5em;
}

#page ul {
    list-style-position: outside;
    margin-left: 1em;
}

/* tree */
.jqtree-tree a:hover {
    border-bottom: none;
}

#tree1 {
    border: solid 1px #666;
    padding: 1em;
}

/* code */
pre {
    background-color: #333;
}

pre[class*="language-"] {
    margin: 0 0 2em 0;
}

pre[class*="language-"].dark {
    margin: .5em 0 1em 0;
}

code.dark {
    font-size: 0.9em;
}