/* general */
body, button, input, select, textarea, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-bottom: 8px;
}

.section {
    margin: 8px 0 16px 0;
}

/* main layout */
#sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 20px 0 30px 30px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}

#page {
    width: 700px;
    margin: 0 0 50px 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* sidebar */
#sidebar a {
    color: #000;
}

#sidebar ul.first  {
    list-style: none;
}

#sidebar ul  {
    margin-left: 0;
}

#sidebar ul.first > li {
    margin-bottom: 1em;
}

#sidebar ul.first > li > a {
    font-weight: bold;
}

#sidebar ul.first ul {
    list-style-position: outside;
}

#sidebar ul.first ul > li {
    margin-left: 20px;
}

/* page */
.container-left,
.container-right {
    float: left;
    width: 50%;
}

.container-left .inner {
    margin-right: 8px;
}

.container-right .inner {
    margin-left: 8px;
}

/* header */
#main-title {
    margin: 16px 0 16px 0;
    background-color: #F35EA1;
    padding: 16px 24px;
    float: left;
}

#main-title h1 {
    color: #fff;
    font-family: 'Corben', arial, serif;
    font-size: 55px;
    margin: 0;
    line-height: 90px;
    float: left;
}

#main-title .logo {
    float: left;
    margin: 0 24px 0 0;
}

/* general style */
h4 {
    font-size: 19px;
    margin: 8px 0 4px 0;
    color: #777;
}

h5 {
    font-size: 14px;
    margin: 8px 0 8px 0;
    background-color: #333;
    color: #fff;
    display: inline;
    padding: 4px 8px 2px 8px;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

h6 {
    margin: 8px 0;
}

a, a:visited {
    color: #b2497e;
}

img {
    margin: 0 8px;
}

#page ul {
    list-style-position: outside;
    margin-left: 18px;
    margin-bottom: 8px;
}

/* tree */
.jqtree-tree a:hover {
    border-bottom: none;
}

#tree1 {
    border: solid 1px #666;
    padding: 16px;
}

/* prism syntax highlighting */
pre[class*="language-"] {
    padding-top: 13px;
    border-radius: 0;
    font-size: 13px;
    margin: 0 0 16px 0;
}
