{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import", "jest"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:jest/all"
    ],
    "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/interface-name-prefix": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/prefer-includes": 0,
        "@typescript-eslint/triple-slash-reference": 0,
        "@typescript-eslint/prefer-string-starts-ends-with": 0,
        "jest/consistent-test-it": 0,
        "jest/prefer-expect-assertions": 0,
        "jest/no-duplicate-hooks": 0,
        "jest/no-hooks": 0,
        "jest/no-identical-title": 0,
        "jest/prefer-strict-equal": 0,
        "jest/require-top-level-describe": 0
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
