ul.tree,
ul.tree ul {
	list-style: none outside;
	margin-bottom: 0;
}

ul.tree ul {
	margin-left: 12px;
}

ul.tree li.closed > ul {
	display: none;
}

ul.tree li {
	margin-left: 0;
}

ul.tree a.toggler {
	background: url(treeDownTriangleBlack.png) no-repeat 0 50%;
	width: 12px;
	display: block;
	float: left;
	text-indent: -9999px;
}

ul.tree span,
ul.tree a {
	cursor: pointer;
}

ul.tree li > span {
	margin-left: 12px;
	padding: 2px;
}

ul.tree li.folder > span {
	margin-left: 0;
}

ul.tree a.toggler.closed {
	background-image: url(treeRightTriangleBlack.png);
}

/* todo: in ul.tree? */
span.dragging {
	color: #fff;
	background: #000;
	opacity: 0.6;
	cursor: pointer;
	padding: 2px 8px;
}

ul.tree span.ghost {
	border: dashed 2px #aaa;
	margin-left: 12px;
	width: auto;
	color: #fff;
	float: none;
	display: inline;
}

ul.tree span.ghost.folder {
	margin-left: 0;
	background-image: none;
}

ul.tree span.ghost.inside {
	margin-left: 36px;
}

ul.tree span.selected {
	background: #000;
	color: #fff;
}