ul.tree,
ul.tree ul {
	list-style: none outside;
	margin-bottom: 0;
}

ul.tree ul {
	margin-left: 12px;
}

ul.tree li.closed > ul {
	display: none;
}

ul.tree li {
	margin: 1px 0;
}

ul.tree a.toggler {
	background: url(treeDownTriangleBlack.png) no-repeat 0 50%;
	width: 12px;
	display: block;
	float: left;
	text-indent: -9999px;
}

ul.tree span,
ul.tree a {
	cursor: pointer;
}

ul.tree li > span {
	margin-left: 12px;
}

ul.tree li.folder {
	margin-bottom: 4px;
}

ul.tree li.folder.closed {
	margin-bottom: 1px;
}

ul.tree li.folder > span {
	margin-left: 0;
}

ul.tree a.toggler.closed {
	background-image: url(treeRightTriangleBlack.png);
}

/* todo: in ul.tree? */
span.tree-dragging {
	color: #fff;
	background: #000;
	opacity: 0.6;
	cursor: pointer;
	padding: 2px 8px;
}

ul.tree li.ghost {
	position: absolute;
}

ul.tree li.ghost span {
	display: block;
}

ul.tree li.ghost span.circle {
	background: url(circle.png) no-repeat;
	height: 8px;
	width: 8px;
	position: absolute;
	top: -4px;
	left: -8px;
}

ul.tree li.ghost span.line {
	background-color: #0000ff;
	height: 2px;
	padding: 0;
	position: absolute;
	top: -1px;
	width: 100%;
}

ul.tree li.ghost.inside {
	margin-left: 48px;
}

ul.tree span.selected {
	background: #000;
	color: #fff;
}

span.tree-hit {
	position: absolute;
	display: block;
}

ul.tree span.border {
	position: absolute;
	display: block;
	border: solid 2px #0000ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0;
}
