ul.tree {
	margin-left: 12px;
}

ul.tree,
ul.tree ul {
	list-style: none outside;
	margin-bottom: 0;
}

ul.tree ul {
	display: block;
	margin-left: 12px;
	margin-right: 0;
}

ul.tree li.closed > ul {
	display: none;
}

ul.tree li {
	clear: both;
}

ul.tree .toggler {
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: -8px 0;
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	left: -12px;
	top: 30%;
	text-indent: -9999px;
	border-bottom: none;
}

ul.tree div {
	cursor: pointer;
}

ul.tree .title {
	color: #1C4257;
	vertical-align: middle;
}

ul.tree li.folder {
	margin-bottom: 4px;
}

ul.tree li.folder.closed {
	margin-bottom: 1px;
}

ul.tree li.folder .title {
	margin-left: 0;
}

ul.tree .toggler.closed {
	background-position: 0 0;
}

span.tree-dragging {
	color: #fff;
	background: #000;
	opacity: 0.6;
	cursor: pointer;
	padding: 2px 8px;
}

ul.tree li.ghost {
	position: relative;
	z-index: 10;
	margin-right: 10px;
}

ul.tree li.ghost span {
	display: block;
}

ul.tree li.ghost span.circle {
	background-image: url(icons.png);
	background-repeat: no-repeat;
	background-position: 0 -8px;
	height: 8px;
	width: 8px;
	position: absolute;
	top: -4px;
	left: 2px;
}

ul.tree li.ghost span.line {
	background-color: #0000ff;
	height: 2px;
	padding: 0;
	position: absolute;
	top: -1px;
	left: 10px;
	width: 100%;
}

ul.tree li.ghost.inside {
	margin-left: 48px;
}

ul.tree span.tree-hit {
	position: absolute;
	display: block;
}

ul.tree span.border {
	position: absolute;
	display: block;
	left: -2px;
	top: 0;
	border: solid 2px #0000ff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0;
}

ul.tree div {
	width: 100%;
	position: relative;
}

ul.tree li.selected > div,
ul.tree li.selected > div:hover {
	background-color: #97BDD6;
	background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
	background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
	background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
	background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tree .moving > div .title {
	outline: dashed 1px #0000ff;
}
