<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../extra/css/gridless.css">
    <link rel="stylesheet" href="../extra/prism/prism.css">
    <link rel="stylesheet" href="example.css">
    <link rel="stylesheet" href="../jqtree.css">
    <script src="../extra/js/jquery-1.8.3.min.js"></script>
    <script src="../extra/prism/prism.js"></script>
    <script src="../extra/js/jquery.mockjax.js"></script>
    <script src="../extra/example_data.js"></script>
    <script src="../tree.jquery.js"></script>
</head>
<body>
    <p id="nav">
        <a href="{% block previous_url %}{% endblock %}">&laquo; {% block previous_title %}{% endblock %}</a>
        {% block next %}
            <a href="{% block next_url %}{% endblock %}" class="next">{% block next_title %}{% endblock %} &raquo;</a>
        {% endblock %}
    </p>

    <h1>{% block h1 %}{% endblock %}</h1>

    {% block contents %}{% endblock %}
</body>
</html>