h1 {
  font-size: 20px;
  margin-bottom: 16px; }

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 8px 0; }

p {
  margin-bottom: 8px; }

ul {
  margin-bottom: 8px; }

#tree1 {
  background-color: #ccc;
  padding: 8px 16px;
  margin-bottom: 16px; }
  #tree1.block-style {
    background-color: #fafafa; }

#nav {
  margin: 16px 0; }
  #nav .next {
    float: right; }

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(spinner.gif);
  margin-left: 8px; }

#tree1.jqtree-loading:after {
  content: url(spinner.gif); }

pre {
  background-color: #333; }

#scroll-container {
  height: 200px;
  overflow-y: scroll;
  position: relative;
  /* ie7 fix */
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 16px; }

.block-style ul.jqtree-tree {
  margin-left: 0; }
  .block-style ul.jqtree-tree ul.jqtree_common {
    margin-left: 2em; }
  .block-style ul.jqtree-tree .jqtree-element {
    margin-bottom: 8px;
    background-color: #ddd;
    padding: 8px; }
    .block-style ul.jqtree-tree .jqtree-element .jqtree-title {
      margin-left: 0; }
  .block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element,
  .block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: #97BDD6;
    text-shadow: none; }
