name: Continuous integration

on: [push]

jobs:
    runner-job:
        runs-on: ubuntu-latest

        steps:
            - name: Check out repository code
              uses: actions/checkout@v2
            - name: Setup node
              uses: actions/setup-node@v1
              with:
                  node-version: "16"
            - name: Install pnpm
              run: npm install -g pnpm
            - name: Get pnpm store directory
              id: pnpm-cache
              run: |
                echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"
            - uses: actions/cache@v3
              name: Setup pnpm cache
              with:
                path: |
                  ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
                  /home/runner/.cache/ms-playwright/
                key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                restore-keys: |
                  ${{ runner.os }}-pnpm-store-
            - name: Install packages
              run: |
                  pnpm install
            - name: Build
              run: |
                  pnpm production
            - name: Lint
              run: |
                  pnpm lint
            - name: Check types
              run: |
                  pnpm tsc
            - name: Clean coverage
              run: pnpm clean-coverage
            - name: Run jest tests
              run: pnpm jest
            - name: Playwright install
              run: npx playwright install chromium
            - name: Run playwright tests
              run: pnpm playwright
            - name: Screenshots artifact
              if: always()
              uses: actions/upload-artifact@v3
              with:
                name: screenshots
                path: src/playwright/playwright.test.ts-snapshots/
            - name: Merge coverage
              run: |
                  pnpm merge-coverage
                  pnpm print-coverage
            - name: Coverage artifact
              uses: actions/upload-artifact@v3
              with:
                name: coverage
                path: .nyc_output
            - name: Coveralls
              run: |
                  pnpm coveralls
              env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.github_token }}
                  COVERALLS_SERVICE_NAME: github
                  COVERALLS_GIT_COMMIT: ${{ github.sha }}
                  COVERALLS_GIT_BRANCH: ${{ github.ref }}
                  COVERALLS_SERVICE_JOB_ID: ${{ github.run_id }}
